@model Trip
@{
    ViewData["Title"] = "Print Bileten";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            background-color: white;
            border: 1px solid black;
            margin: 10px;
        }

        .no-print {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">iTerminal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            </div>
        </div>
    </nav>
    <h1 class="text-center mb-5">FATURË</h1>
    <div class="d-flex flex-column">
        <h5 class="mb-5"><strong>ID e Rezervimit: </strong>@Model.TripId</h5>
        <h5 class="mb-5"><strong>Klienti: </strong>@Model.User.FirstName @Model.User.LastName</h5>
        <h5 class="mb-5"><strong>Linja: </strong>@Model.Unit.route.PointA - @Model.Unit.route.PointB</h5>
        <h5 class="mb-5"><strong>Kompania: </strong>@Model.Unit.Creator.Name</h5>
        <h5 class="mb-5"><strong>Data e Udhetimit: </strong>@Model.Unit.Nisja.Hour:@Model.Unit.Nisja.Minute , @Model.Unit.Nisja.ToString("dd MMM yyyy")</h5>
        <h5 class="mb-5"><strong>Vendet e Rezervuara: </strong>@Model.Seats</h5>
        <h5 class="mb-5"><strong>Totali:  </strong>ALL @Model.Total</h5>
    </div>
    
    <footer>
       <p class="text-muted text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/></svg>
        Ju lutem printojeni dhe ruajeni kete bilete ne rast se ju kerkohet!
       </p>
    </footer>
    <button class="btn btn-primary" onclick="printPage()" id="buttonToCall">Printo</button>
</body>
</html>


